<h2><%= currentUser.name %>'s Profile</h2>

<h1 class="title" >Recipes</h1>

<div class="container">
<a href="../recipes/new">Add a recipe!</a>
<a href="/">&larr; Back Home</a>
</div>
<% recipes.forEach(function(recipe) { %>
  <div class="card-header">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
         <a href="/recipes/<%= recipe.id %>">
        <%= recipe.name %>
      </a>
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <footer class="card-footer">
        <a href="/recipes/edit/<%= recipe.id %>" class="card-footer-item">edit</a>
        <form action="/recipes/<%= recipe.id %>?_method=DELETE " method="POST" class="card-footer-item" onsubmit="">
            <input class="button is-danger" type="submit" value="delete">
        </form>
      </footer>
  </div>
<% }) %>
